<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Shopping List</a>
        </li>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" role="button"
              >Manage <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Save Data</a></li>
              <li><a href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
